@model BarberShopSystem.Models.BarberShopService

@{
    ViewBag.Title = "DeleteService";
}

<h2>DeleteService</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BarberShopService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarberShop.ShopKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarberShop.ShopKey)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
