@model IEnumerable<BarberShopSystem.Models.BarberShopService>

@{
    ViewBag.Title = "GetServiceByShopId";
}

<h2>GetServiceByShopId</h2>

<p>
   @*  @Html.ActionLink("Add New Service", "AddService", new { id = item.ShopId }, null)*@
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarberShop.ShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarberShop.ShopName)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateService", new { id = item.ServiceId }) |
           
            @Html.ActionLink("Delete", "DeleteService", new { id = item.ServiceId })
        </td>
       
    </tr>
    <tr>
        @Html.ActionLink("Add New Service", "AddService", new { id = item.ShopId }, null)
    </tr>
}


</table>
