@model IEnumerable<BarberShopSystem.Models.BarberShop>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<p>
    @Html.ActionLink("Create New", "ChooseUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopPassword)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.User.UserType)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopPassword)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.User.UserType)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShopId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShopId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShopId })
        </td>
    </tr>
}

</table>
