@model IEnumerable<BarberShopSystem.Models.BarberShop>

@*@model IEnumerable< BarberShopSystem.Models.ViewModel.BarberShopAndBarberService>*@

@*@model BarberShopSystem.Models.ViewModel.UserReg*@

@{
    ViewBag.Title = "ShopProfile";
}

<h2>ShopProfile</h2>

<p>
    @Html.ActionLink("Add New BarberShop", "ShopRegistration")

</p>

<p>
    <span>@Html.ActionLink("Shops Hairstylists", "GetHairStylists", "HairStylist")</span>
</p>

<p>
    <span>@Html.ActionLink("Shop Services", "GetServices", "BarberShop")</span>
</p>

@*<p>
    HI,
    @Session["UserModel"]
</p>*@

<table class="table">
    <tr>

        @* <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.ShopAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopCity)
        </th>

       


        <th>
            @Html.DisplayNameFor(model => model.OpenTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @* <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@


        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCity)
        </td>

       


        <td>
            @Html.DisplayFor(modelItem => item.OpenTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>


        <td>
            @Html.ActionLink("Edit", "UpdateShopProfile", new { id = item.ShopId }) |

            @Html.ActionLink("Delete", "DeleteShopData", new { id = item.ShopId })  |

            @Html.ActionLink("Hairstylists", "GetHairStylistByShopId", "HairStylist", new { id = item.ShopId }, null) |

            @Html.ActionLink("Services", "GetServiceByShopId", "BarberShop", new { id = item.ShopId }, null)
        </td>
    </tr>
}

</table>
